/Comentarios/nbproject/private/
/Comentarios/build/
/CodigoDuplicado/nbproject/private/
/CodigoDuplicado/build/
/MetodoLargo/nbproject/private/
/ClaseGrande/nbproject/private/
/ObsesionPrimitiva/nbproject/private/
/DataClumps/nbproject/private/
/SwitchStatements/nbproject/private/
/LegadoRechazado/nbproject/private/
/DataClass/nbproject/private/
/FeatureEnvy/nbproject/private/
/InappropriateIntimacy/nbproject/private/
/ShotgunSurgery/nbproject/private/
/Comments/nbproject/private/
/DuplicateCode/nbproject/private/
/LongMethod/nbproject/private/
/LongClass/nbproject/private/
/PrimitiveObsession/nbproject/private/
/RefusedBequest/nbproject/private/
/DataClass/build/
/DataClumps/build/
/RefusedRequest/nbproject/private/
/PrimitiveObsession/build/
/SwitchStatements/build/
/ShotgunSurgery/build/